.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1E20;
    box-shadow: 0 0 10px #1C1E20;
    width: 100%;
    height: 115px;
    padding: 20px;
    box-sizing: border-box;
}


.head > button{
    height: 40px;
    border-radius: 30px;
}

.title-head {
    color: #fff;
    margin: 0;
    font-weight: 300;
    font-size: 23px;
    margin-left: 15px;
}

.admin-button-head {
    background-color: #fff;
    color: #1C1E20;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 94px;
    height: 21px;
    font-size: 13px;
    margin-right: 10px;
}


.nav-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
}


.btn-nav-section{
  margin: 10px;
  height: 100px;
  width: 130px;
  color: #D5DEEF;
  background-color: #343A42;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease;

}








.btn{
    text-align: right;
    background-color: #ddd;
}
.nameTableMetodos{
    text-align: left;
}

.container-methods{
    margin-bottom: 100px;
}

.container-for{
    width: 1300px;
}

.container-white-methods{
    margin-top: 30px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

}

.lateral-container-methods{
    width: 17px;
    height: 60px;
    background-color: #343A42;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    color: #D5DEEF;
}

.name-methods{
    margin-left: 30px;
}

.separamento-inicial{
    font-size: 38px;
    margin-left: 180px;
    position: absolute;
}

.separamento{
    font-size: 38px;
}

.medium-container-metodos{
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 220px;
}

.title-variedades{
  margin-left: 15px;
  margin-right: 15px;
}

.container-variacao{
    display: flex;
    align-items: center;
}



.test-bnt{
    padding: 12px;
    width: 49px;
    height: 49px;
    margin: 3px;
    border: none;
    border-radius: 10px;

}
.btn-update{
    background-color: #395886;
    color: white;
    transition: transform 0.3s ease;
}
.btn-create{
    background-color: #117001;
    color: white;
    transition: transform 0.3s ease;
}
.btn-delete{
    background-color: #B40B0B;
    color: white;
    transition: transform 0.3s ease;
}

.container-btn{
    padding: 10px;
}

.container-left{
    display: flex;
    align-items: center;
}

.create-metodo-btn{
  margin-left: 40px;
  height: 60px;
  width: 100px;
  background-color: #117001;
  color: white;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
}








.create-metodo-btn:hover{
  background-color: #105e03;
  transform: scale(1.2);
  position: relative;
  z-index: 1;
}


.btn-update:hover{
    background-color: #304a72;
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}

.btn-create:hover{
    transform: scale(1.2);
    position: relative;
    z-index: 1;
    background-color: #105e03;
}

.btn-delete:hover{
    transform: scale(1.2);
    position: relative;
    z-index: 1;
    background-color: #750606;
}

.btn-nav-section:hover{
    transform: scale(1.2);
    position: relative;
    z-index: 1;
    background-color:#262a30 ;
}
