.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1E20;
    box-shadow: 0 0 10px #1C1E20;
    width: 100%;
    height: 115px;
    padding: 20px;
    box-sizing: border-box;
}


.head > button{
    height: 40px;
    border-radius: 30px;
}

.title-head {
    color: #fff;
    margin: 0;
    font-weight: 300;
    font-size: 23px;
    margin-left: 15px;
}

.admin-button-head {
    background-color: #fff;
    color: #1C1E20;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 94px;
    height: 21px;
    font-size: 13px;
    margin-right: 10px;
}














.table{
    display: flex;
    justify-content: center;
}

.tr-metodos{
    border: 1px solid black;
    margin-bottom: 10px; /* Ajuste conforme necessário */
    padding: 102px;

}
.margin-bottom {
    margin-bottom: 10px; /* Ajuste conforme necessário */
}


table{
    border-collapse: collapse;
    width: 65%;
}


.tteste td, .tteste th{
    padding: 12px;
} 

.btn{
    text-align: right;
    background-color: #ddd;
}
.nameTableMetodos{
    text-align: left;
}

