


<div class="main-container">
  <app-administrador class="app-adm"></app-administrador>
  <div class="create-container">

    <div class="head">
      <h1 class="title-head">Criar Bebidas Geladas</h1>
    </div>

    <div class="main-section">
      <form action="">
        <label for="" class="label">Nome: </label>
        <input type="text" class="first-input">
        <label for="" class="label">Observações: </label>
        <textarea name="" id="" cols="55" rows="10" style="resize: none;" class="text-area"></textarea>
        <div class="ingredients-section">
          <h3 class="label">Ingredients</h3>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>

    <button routerLink="/administrador">Back</button>
  </div>
</div>
