
.create-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; /* Margens automáticas centralizam o elemento */
  width: 80%; /* Defina a largura desejada */
  max-height: 80vh; /* Define a altura máxima como 80% da altura do viewport */
  height: fit-content; /* Ajusta a altura para o conteúdo */
  background-color: rgb(92, 95, 95); /* Apenas para fins de demonstração */
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

}


.head{
  justify-content: center;
  margin-top: 2rem;
  .title-head{
    font-size: 2rem;
    color: white;
  }
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.main-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.label{
  align-self: start;
}


.first-input {
  width: 100%;
  margin: 10px 0;
}

.text-area{
  width: 100%;
}

.head-ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-ingredients {
  margin-right: auto;
}

.ingredients-section {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-group {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ingredient-group input {
  width: calc(100% - 40px);
  margin-right: 5px;
}

.ingredient-group button {
  flex-shrink: 0;
  width: 35px;
}


@media screen and (max-width: 768px) {
  .ingredients-section {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .ingredient-group {
    align-items: center;
  }

}
