
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebebeb;
}

html{
    scroll-behavior: smooth;
}

h3{
  white-space: pre-line;  
}
