

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 29px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1E20;
    box-shadow: 0 0 10px #1C1E20;
    width: 100%;
    height: 115px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 60px;
}


.head > button{
    height: 40px;
    border-radius: 30px;
}

.title-head {
    color: #fff;
    margin: 0;
    font-weight: 300;
    font-size: 23px;
    margin-left: 15px;
}

.admin-button-head {
    background-color: #fff;
    color: #1C1E20;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 94px;
    height: 21px;
    font-size: 13px;
    margin-right: 10px;
}

.container-btn{
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;

}

.btn-home {
    width: 122px;
    height: 122px;
    background-color: #343A42;
    color: #B5B5B5;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none; /* Remove a borda ao clicar */
    outline-offset: 0; /* Remove a borda ao clicar */
}

.text-category{
  
    font-size: 22px;
    font-weight: 500;
    color: #343A42;
}
.barra{
    width: 150px;
    height: 1px;
    background-color: #343A42;
    margin-top: 5px;
    margin-bottom: 0px;
}



.container-metodos{
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}


.btn-metodos{
    width: 100px;
    height: 90px;
    background-color: #343A42;
    color: #B5B5B5;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px; 
    font-size: 15px;
    align-items: center;
}



.container-cafes{
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.btn-cafes{
    width: 100px;
    height: 50px;
    background-color: #343A42;
    color: #B5B5B5;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px; 
    font-size: 15px;
    align-items: center;
}

.receita{
    text-align: center;
    font-weight: 400;
}

.receita-box > .receitas > .v60-receita > .line{
    display: flex;
    justify-content: center;
}

.receita-box > .receitas > .v60-receita > .line > .box-with-word{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 15px;

} 



.word-metodos{
    font-size: 12px;
}













.receita-box{
    border: 1px solid black;
    display: inline-block;
    max-width: 100%;
    padding: 30px;

}



.footer{
    margin-top: 150px;
}



.btn-metodos:hover{
    color: #525b68;
}


